body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
/* A4 Print Compatibility */
@page {
  size: A4;
  margin: 20mm;
}
.container {
  width: 210mm;
  /* height: 297mm; */
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  padding: 20mm;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.header {
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: flex-start;
}
.profile-pic {
  /* border: 1px solid red; */
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}
.image {
  /* border: 1px solid yellow; */
  padding: 10px;
}
.image img {
  /* border: 1px solid green; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile,
.work-experience,
.skills {
  margin-bottom: 50px;
}
.profile-info {
  /* border: 1px solid purple; */
  /* font-size: 24px; */
  margin: 0px 10px;
  width: 100%;
  line-height: 20px;
}
.profile-info .name {
  padding: 30px 0 0 0;
  /* border: 1px solid blue; */
  font-size: 35px;
  margin-top: 20px;
}
.profile-info .name h1 {
  /* border: 1px solid blue; */
  font-size: 35px;
  margin: 0;
}
.profile-info .name h3 {
  /* border: 1px solid blue; */
  font-size: 20px;
  margin: 0;
  font-weight: 100;
  padding-top: 10px;
}
.contact-info {
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 0;
}
.address {
  position: relative;
  top: 20px;
}
.contact-info p {
  width: 100%;
}
/* CV body section */
.cv-body {
  margin-top: 40px;
  /* border: 1px solid#000000; */
  display: flex;
}
.body-column-one {
  width: 40%;
  border-right: 2px solid #000000;
  padding-right: 10px;
}
.body-column-two {
  width: 60%;
  border-left: 1px solid blue;
  /* padding: 10px; */
}
.language-list {
  line-height: 25px;
}
.body-column-two {
  padding-left: 20px;
}
.profile p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.programming-language-list,
.others-skills-list {
  line-height: 25px;
}
.reference-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.reference-info > .persons h5 {
  position: relative;
  bottom: 17px;
  margin: 0;
}
.reference-info > .persons p {
  margin: 0;
}
/* Page Breaks for Print */
@media print {
  .container {
    page-break-inside: avoid;
  }
}
